body {
    background-color: black;
    color: whitesmoke;
}
.container{
    background-color: indigo;
    margin-left: 300px;
    border: 5px double red;
    border-radius: 36px;
    float: left;
    width: 50.33%;
    padding: 30px;
    box-shadow: 10px 15px gray;
  }
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .App-header{
    
    margin-left: 425px;
    background-color: indigo;
    border: 5px double red;
    width: 33.33%;
    border-radius: 36px;
    padding: 30px;
  }