body {
    background-color: black;
    color: whitesmoke;
}
.container{
    margin-left: 300px;
    border: 5px double red;
    border-radius: 36px;
    float: left;
    width: 50.33%;
    padding: 30px;
    
  }
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }